[Desktop Entry]
Name=DLSS Swapper
GenericName=DLSS Version Manager
GenericName[ar]=مدير إصدارات DLSS
GenericName[ca]=Gestor de versions de DLSS
GenericName[cs]=Správce verzí DLSS
GenericName[de]=DLSS-Versions-Manager
GenericName[en]=DLSS Version Manager
GenericName[es]=Gestor de versiones de DLSS
GenericName[fa]=مدیریت نسخه‌های DLSS
GenericName[fi]=DLSS-versioiden hallinta
GenericName[fr]=Gestionnaire de versions DLSS
GenericName[it]=Gestore di versioni DLSS
GenericName[ja]=DLSSバージョンマネージャー
GenericName[ko]=DLSS 버전 관리자
GenericName[pl]=Menedżer wersji DLSS
GenericName[pt_BR]=Gerenciador de versões do DLSS
GenericName[ru]=Менеджер версий DLSS
GenericName[th]=ตัวจัดการเวอร์ชัน DLSS
GenericName[tr]=DLSS Sürüm Yöneticisi
GenericName[uk]=Менеджер версій DLSS
GenericName[vi]=Trình quản lý phiên bản DLSS
GenericName[zh_CN]=DLSS 版本管理器
GenericName[zh_TW]=DLSS 版本管理器
Comment=Conveniently download, install, and swap DLSS, FSR, and XeSS versions in your games
Comment[ar]=قم بتنزيل وتثبيت وتبديل إصدارات DLSS و FSR و XeSS في ألعابك بسهولة
Comment[ca]=Baixeu, instal·leu i canvieu còmodament les versions de DLSS, FSR i XeSS als vostres jocs
Comment[cs]=Pohodlně stahujte, instalujte a měňte verze DLSS, FSR a XeSS ve svých hrách
Comment[de]=Bequem DLSS-, FSR- und XeSS-Versionen in Ihren Spielen herunterladen, installieren und austauschen
Comment[en]=Conveniently download, install, and swap DLSS, FSR, and XeSS versions in your games
Comment[es]=Descargue, instale y cambie cómodamente las versiones de DLSS, FSR y XeSS en sus juegos
Comment[fa]=نسخه‌های DLSS، FSR و XeSS را به راحتی در بازی‌های خود دانلود، نصب و جابه‌جا کنید
Comment[fi]=Lataa, asenna ja vaihda kätevästi DLSS-, FSR- ja XeSS-versioita peleissäsi
Comment[fr]=Téléchargez, installez et échangez facilement les versions DLSS, FSR et XeSS dans vos jeux
Comment[it]=Scarica, installa e scambia comodamente le versioni DLSS, FSR e XeSS nei tuoi giochi
Comment[ja]=ゲーム内のDLSS、FSR、XeSSバージョンを簡単にダウンロード、インストール、差し替えができます
Comment[ko]=게임에서 DLSS, FSR 및 XeSS 버전을 편리하게 다운로드, 설치 및 교체하세요
Comment[pl]=Wygodnie pobieraj, instaluj i zamieniaj wersje DLSS, FSR i XeSS w swoich grach
Comment[pt_BR]=Baixe, instale e altere convenientemente as versões do DLSS, FSR e XeSS em seus jogos
Comment[ru]=Удобно скачивайте, устанавливайте и меняйте версии DLSS, FSR и XeSS в ваших играх
Comment[th]=ดาวน์โหลด ติดตั้ง และสลับเวอร์ชัน DLSS, FSR และ XeSS ในเกมของคุณได้อย่างสะดวก
Comment[tr]=Oyunlarınızda DLSS, FSR ve XeSS sürümlerini rahatça indirin, yükleyin ve değiştirin
Comment[uk]=Зручно завантажуйте, встановлюйте та змінюйте версії DLSS, FSR та XeSS у своїх іграх
Comment[vi]=Tải xuống, cài đặt và thay đổi các phiên bản DLSS, FSR và XeSS trong trò chơi của bạn một cách tiện lợi
Comment[zh_CN]=方便地在游戏中下载、安装和切换 DLSS、FSR 及 XeSS 版本
Comment[zh_TW]=方便地在遊戲中下載、安裝與替換 DLSS、FSR 及 XeSS 版本
Exec=dlss-swapper-gui %u
Icon=com.beeradmoore.dlss-swapper
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=DLSS;FSR;XeSS;NVIDIA;Proton;Steam;Heroic;Swapper;Gaming;
StartupWMClass=DLSS Swapper
MimeType=x-scheme-handler/dlss-swapper;
